@charset "utf-8";



/***** 😀header *****/

header {
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header h1 {
    font-family: 'Satisfy', cursive;
}
header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner ul li {
    display: inline-block;
}
header .inner nav ul li {
    font-size: 16px;
    margin: 0 35px;
    transition: all 0.2s ease-out;
}
header .inner nav ul li:hover {
    color: #132e3a;
    font-weight: 700;
}

/***** 😶.main_visual *****/

.main_visual {
    background-color: #f7f7f7;
    margin: 0 auto;
    height: 100vh;
}

.main_visual .inner {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateX(-20%);
    
}
.main_visual .inner h2 {
    font-family: 'NanumSquareAc';
    font-size: 80px;
    font-weight: 800;
}
.main_visual .inner p {
    font-size: 20px;
}
.main_visual .inner p b {
    font-size: 20px;
}
.main_visual .ball {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #9BBFD6;
    opacity: 30%;
    position: absolute;
    top: 55%;
    left: 40%;
    animation: ball 3s infinite alternate linear;
    transform: translate(-50%, -50%);
}
@keyframes ball {
    0% {

    }
    100% {
        width: 750px;
        height: 750px;
    }
}
.main_visual .ball2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #FADCDA;
    opacity: 50%;
    position: absolute;
    top: 10%;
    left: 90%;
    animation: ball2 3s infinite alternate linear;
}
@keyframes ball2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.main_visual .ball3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #cb88ea;
    position: absolute;
    top: 10%;
    left: 5%;
    opacity: 50%;
    animation: ball3 3s infinite alternate linear;
}
@keyframes ball3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.main_visual .ball4 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #B5CBFC;
    opacity: 50%;
    top: 80%;
    left: 70%;
    position: absolute;
    animation: ball4 3s infinite linear alternate;
    transform: translate(-50%, -50%);
} 
@keyframes ball4 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.main_visual ul {
    animation: down 3s infinite alternate linear;
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 45px;
}
@keyframes down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40%);
    }
}
.main_visual ul li:nth-child(2) {
    font-size: 30px;
    margin-left: 7.5px;
}

/***** fixmenu *****/

.fixmenu {
    position: fixed;
    top: 50%;
    left: 130px;
    transform: translateY(-50%);
    z-index: 99;
}
.fixmenu ul li {
    position: relative;
    margin: 30px 0;
    font-size: 15px;
    color: #979797;
    font-weight: 600;
}
.fixmenu ul li a:hover::before {
    width: 100%;
}
.fixmenu ul li a::before {
    content: attr(data-text);
    width: 0;
    height: 100%;
    color: #222;
    overflow: hidden;
    transition: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
}
.fixmenu ul li a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #666;
    position: absolute;
    top: 5px;
    left: -15px;
}

.fixmenu .submenu li:hover::before {
    width: 100%;
}
.fixmenu .submenu li::before {
    content: attr(data-text);
    width: 0;
    height: 100%;
    color: #222;
    overflow: hidden;
    transition: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
}

/* 포트폴리오 메뉴 드롭 */

.fixmenu .firstmenu .submenu {
    margin-left: 12px;
    display: none;
}
.fixmenu .firstmenu .submenu li {
    font-size: 12px;
}

/***** 😏.profile *****/

.profile {
    padding: 150px 0;
    height: 100vh;
}
.profile .inner .title {
    text-align: center;
    font-family: 'Righteous';
}
.profile .inner {
    position: relative;
}
.profile .inner .ball1 {
    width: 25px;
    height: 25px;
    border: 1px solid lightcoral;
    border-radius: 50%;
    top: 0;
    left: 80%;
    position: absolute;
    animation: ballc2 2.5s infinite linear alternate;
}
@keyframes ballc2 {
    0% {
        opacity: 0;
        transform: translate3d(0);
    }
    100% {
        opacity: 1;
        transform: translate3d(50px, 90px, 20px);
    }
}
.profile .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}
.profile .list .text {
    border-right: 1px solid #999;
    height: 450px;
}
.profile .list .text h2 {
    font-size: 60px;
    font-family: 'Righteous';
    margin-top: 50px;
}
.profile .list .info {
    width: 1000px;
    padding-left: 100px;
}
.profile .list .info p {
    margin-bottom: 70px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}
.profile .list .info ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.4;
}
.profile .list .info ul li strong {
    display: inline-block;
    width: 100px;
}
.profile .list .info .item1 {
    position: relative;
    padding-bottom: 50px;
}
.profile .list .info .item1::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 5%;
    width: 800px;
    height: 1px;
    background-color: #999;
}
.profile .list .info .item1 ul li {
    margin-left: 50px;
}

.profile .list .info .item2 {
    margin-top: 50px;
}
.profile .list .info .skill {
    margin-top: 50px;
    margin-left: 170px;
}
.profile .list .info .skill li {
    margin-left: 20px;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos]{
    transition-duration: 1s;
}

/* Portfolio */

.portfolio {
    height: 50vh;
}
.portfolio .inner {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.portfolio .inner .text h2 {
    font-size: 100px;
    font-family: 'Righteous';
    position: absolute;
    top: 200px;
    left: 0;
}
.portfolio .inner .ballc2 {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 100%;
    transform: translateY(-40%);
    animation: ballc2 2.5s infinite alternate linear;
    background-image: linear-gradient(#71a7b7,#cedbe4);
    border-radius: 50%;
    opacity: 50%;
}
@keyframes ballc2 {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}



/***** 🤨.video *****/

.video {
    padding: 100px 0;
    height: 100vh;
}
.video .tab_menu li {
    display: inline-block;
    color: #666;
    margin-right: 20px;   
}
.video .tab_menu li.on {
    position: relative;
    color: #132e3a;;
    cursor: pointer;
}
.video .tab_menu li.on::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #0a1a20;
    display: block;
    position: absolute;
    top: -10PX;
    left: 50%;
    transform: translateX(-50%);
}
.video .list {
    padding-top: 100px;
}
.video .list .list_in {
    display: none;
}
.video .list .list_in.on {
    display: block;
}
.video .list .list_in .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video .list .list_in .swiper-slide .youtube_wrap {
    width: 60%;
    
}
.video .list .list_in .swiper-slide .youtube_wrap .youtube {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.video .list .list_in .swiper-slide .youtube_wrap .youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.video .list .list_in .swiper-slide .info {
    width: 40%;
    padding-left: 50px;

}
.video .list .list_in .swiper-slide .info h4 {
    font-size: 25px;
}
.video .list .list_in .swiper-slide .info p {
    margin: 10px 0 20px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}
.video .list .list_in .swiper-slide .info dl {
    display: flex;
    margin-bottom: 20px;
}
.video .list .list_in .swiper-slide .info dl dt {
    width: 90px;
    line-height: 1.5;
    font-weight: bold;
}
.video .list .list_in .swiper-slide .info dl dd {
    width: 440px;
    line-height: 1.5;
}
.video .list .list_in .swiper-slide .info .btn {
    margin-top: 50px;
}
.video .list .list_in .swiper-slide .info .btn li {
    margin: 0 auto;
}
.video .list .list_in .swiper-slide .info .btn li:nth-child(1) {
    margin-bottom: 10px;
}



/* 슬라이드 버튼, 페이징 위칭 변경 */

.video .list {
    position: relative;
}
.video .swiper {
    position: static;
}
.video .swiper-button-next {
    top: 40px;
    right: auto;
    left: 80px;
    margin-top: 0;
    background: url('../img/icons8-셰브론-오른쪽-30.png') 0 0 / 100% no-repeat; 
}
.video .swiper-button-next::after {
    display: none;
}
.video .swiper-button-prev {
    top: 40px;
    left: 0;
    margin-top: 0;
    background: url('../img/icons8-셰브론-왼쪽-30.png') 0 0 / 100% no-repeat;
}
.video .swiper-button-prev::after {
    display: none;
}
.video .swiper-pagination {
    bottom: auto;
    top: 45px;
    left: 35px;
    width: auto;
}


/***** 😶.web *****/

.web {
    padding: 180px 0;
    height: 100vh;    
}
.web .inner .title {
    margin-bottom: 200px;
}
.web .inner .title h3 {
    margin-bottom: 50px;
}
.web .inner .title p {
    font-size: 18px;
}
.web .list {
    position: relative;
}
.web .list .item:nth-child(1) {
    animation: item1_txt 5s ease-in-out infinite;
    position: absolute;
    opacity: 1;
}
@keyframes item1_txt {
    0% {
        opacity: 1;
        z-index: 1;
    }
    42.5% {
        opacity: 1;
        z-index: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    92.5% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: 1;
    } 
}
.web .list .item:nth-child(2) {
    animation: item2_txt 5s ease-in-out infinite;
    position: absolute;
    opacity: 0;
}
@keyframes item2_txt {
    0% {
        opacity: 0;
        z-index: -1;
    }
    42.5% {
        opacity: 0;
        z-index: -1;
    }
    50% {
        opacity: 1;
        z-index: 1;
    }
    92.5% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    } 
}
.web .list .item h4 {
    font-weight: 100;
}
.web .list .item .info h4 {
    font-size: 50px;
    margin-bottom: 50px;
}
.web .list .item .info dl {
    display: flex;
    margin-bottom: 10px;
}
.web .list .item .info dl dt {
    margin-right: 20px;
    font-weight: bold;
}
.web .list .item .info .btn {
    margin-top: 40px;
    display: flex;
}
.web .list .item .info .btn li {
    margin-top: 15px;
    width: 200px;
    border-radius: 30px;
    margin-right: 15px;
}

.web .list .right_img .img1 {
    width: 590px;
    height: 590px;
    background-image: url('../img/webimg1.png');
    background-size: cover;
    position: absolute;
    top: -45%;
    left: 70%;
    animation: main_img-change 5s ease-in-out infinite;
    transform: translateY(-45%);
}
@keyframes main_img-change {
    0% {
        background-image: url('../img/webimg1.png');
    }
    42.5% {
        background-image: url('../img/webimg1.png');
    }
    50% {
        background-image: url('../img/webimg2.png');
    }
    92.5% {
        background-image: url('../img/webimg2.png');
    }
    100% {
        background-image: url('../img/webimg1.png');
    } 
}
.web .list .right_img .img2 {
    width: 130px;
    height: 130px;
    background-image: url('../img/webimg2.png');
    background-size: cover;
    position: absolute;
    top: -390px;
    left: 108%;
    animation: sub_img-change 5s ease-in-out infinite;
    
}
@keyframes sub_img-change {
    0% {
        background-image: url('../img/webimg2.png');
    }
    42.5% {
        background-image: url('../img/webimg2.png');
    }
    50% {
        background-image: url('../img/webimg1.png');
    }
    92.5% {
        background-image: url('../img/webimg1.png');
    }
    100% {
        background-image: url('../img/webimg2.png');
    } 
}

.web .list .centerball {
    border: 2px solid #6095a5;
    width: 396px;
    height: 792px;
    border-top-left-radius: 470px;
    border-bottom-left-radius: 470px;
    position: absolute;
    top: -45%;
    right: -25%;
    transform: translateY(-45%);
}
.web .list .subball {
    background-color: #6095a5;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 420px;
    left: 120%;
}


/***** 😯.graphic *****/

.graphic {
    padding: 100px 0;
    height: 120vh;
    position: relative;
}
.graphic .inner .title h3 {
    margin-bottom: 50px;
}
.graphic .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.graphic .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
}

.graphic .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.graphic .swiper-pagination-bullet {
    margin: 0 7px !important;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #479ec4;
    position: relative;
}
.swiper-pagination-bullet-active::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform-origin: center center;
    animation: btn 1s linear infinite;
    background-color: #6095a5;
}

@keyframes btn {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.7);
        opacity: 0;
    }
}

/***** 😁.contact *****/

.contact {
    height: 60vh;
}
.contact h2 {
    font-size: 65px;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Righteous';
}
.contact .inner {
    display: flex;
    justify-content: space-between;
}
.contact .inner ul {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    width: 350px;
    height: 200px;
    padding: 30px;
}
.contact .inner ul:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px rgba(214, 215, 216, 0.6);
    transition: 0.5s;
}
.contact .inner ul li:nth-child(1) {
    font-size: 16px;
    margin-bottom: 20px;
}
.contact .inner ul li:nth-child(2) {
    font-size: 30px;
    margin-bottom: 20px;
}
.contact .inner ul li:nth-child(3) {
    font-size: 14px;
    font-family: 'Righteous';
}

/***** 😮footer *****/

footer {
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer h2 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    margin-bottom: 40px;
}
footer ul li a {
    display: block;
}
footer p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.658);
}
